body {
  text-align: center;
  font-size: 40px;
  margin: 0;
  box-sizing: border-box;
}
.submit_ {
  font-size: 1rem;
  padding: 0.625rem 1.25rem;
  vertical-align: middle;
  margin-top: -2.25em;
  margin-right: 0.25em;
  cursor: pointer;
}
.inputfile {
  width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.inputfile + label {
  color: #d3394c;
  max-width: 80%;
  font-size: 2rem;
  font-weight: 700;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  padding: .625rem 1.25rem;
}
.inputfile + label svg {
    width: 1em;
    height: 1em;
    fill: currentColor;
    vertical-align: middle;
    margin-top: -0.25em;
    margin-right: 0.25em;
}
.inputfile + label {
	cursor: pointer; /* "hand" cursor */
}
.inputfile + label:hover {
    color: #722040;
}
.uploadData {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.btnToggle {
  font-size: .5em;
  padding: .25rem .625rem;
  border-radius: 25px;
  cursor: pointer;
  outline: none;
  border: 2px solid #262626;
  vertical-align: middle;
}
.btnToggle:hover {
  font-weight: bold;
  box-shadow: inset 0px 0px 7px #000;
}
/* ............................................................. */
.container {
  background-color: #fff;
  height: 80vh;
  width: 100%;
  float: left;
  overflow-y: scroll;
  flex-flow: row wrap;
  justify-content: center;
  margin-top: 25px;
  display: none;
}
.card {
  margin: 5px;
  padding: 20px;
  border: 1px solid #fff;
}
.card img {
  cursor: pointer;
}
.card span {
  font-size: 30px;
  text-decoration: underline;
  color: blue;
  cursor: pointer;
}
.card span:hover {
  color: #aaf;
}
/* scroll of container */
/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #888;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #262626;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ccc;
}
/* -------------------------------------------------- */
.loading
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(45deg);
    padding:40px;
    animation: animate 1s linear infinite;
    display: none;
}
.loading div
{
    background: #333;
    position: absolute;
    padding: 20px;
    animation: rt 1s linear infinite;
}
.loading div:nth-child(1)
{
    top: 0;
    left: 0;
    background: #c66;
}
.loading div:nth-child(2)
{
    top: 0;
    right: 0;
    background: #be6;
}
.loading div:nth-child(3)
{
    bottom: 0;
    right: 0;
    background: #f06;
}
.loading div:nth-child(4)
{
    bottom: 0;
    left: 0;
    background: #0ef;
}


@keyframes animate
{
    0%
    {
        padding: 40px;
    }
    10%
    {
        padding: 40px;
    }
    50%
    {
        padding: 60px;
    }
    90%
    {
        padding: 40px;
    }
    100%
    {
        padding: 40px;
    }
}
@keyframes rt
{
    0%
    {
        transform: rotate(0deg);
    }
    10%
    {
        transform: rotate(0deg);
    }
    50%
    {
        transition-duration: rotate(90deg);
    }
    90%
    {
        transform: rotate(90deg);
    }
    100%
    {
        transform: rotate(90deg);
    }
}
